{% extends 'base.html.twig' %}
{% block body %}
    <!-- Begin page name -->
    <section class="page-name color-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-name-content">
                        <h1>Grade 3</h1>
                        <ul class="bread-crumbs">
                            <li><a href="{{ path ('homepage')}}">Home</a></li>
                            <li><p>Grade 3</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End page name -->
    <!-- Begin classes content -->
    <main class="classes-content">
        <!-- Begin our classes section -->
        <section class="our-classes-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title">
                            <h2>Our Classes</h2>
                            <p>Aliquam vel est fringilla, iaculis lacus at, pellentesque dui. Vivamus rhoncus ut ex ac posuere. Mauris sem magna, porta vel turpis vel, rhoncus viverra metus. Aliquam erat volutpat.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="our-classes-list">
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset('img/classes-1.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>2 - 6 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>56 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>15</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Art Class</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-1">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset ('img/classes-2.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>3 - 8 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>32 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>18</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Sport Section</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-3">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset ('img/classes-3.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>2 - 10 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>20 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>26</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Swimming Class</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-4">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset('img/classes-4.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>2 - 10 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>20 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>26</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Dance Class</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-3">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset ('img/classes-5.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>2 - 10 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>20 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>26</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Ballet Class</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-1">Details</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="classes-preview-card">
                                    <a href="single-classes.html" class="classes-logo"><img src="{{ asset('img/classes-6.jpg') }}" alt="classes"></a>
                                    <ul class="classes-info-wrap">
                                        <li class="classes-info color-2">
                                            <h6>Age group</h6>
                                            <p>2 - 10 years</p>
                                        </li>
                                        <li class="classes-info color-4">
                                            <h3>20 $</h3>
                                        </li>
                                        <li class="classes-info color-1">
                                            <h6>Class size</h6>
                                            <p>26</p>
                                        </li>
                                    </ul>
                                    <div class="classes-text">
                                        <a href="single-classes.html" class="h3">Yoga Class</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <a href="single-classes.html" class="button color-4">Details</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!-- Begin pagination -->
                        <ul class="my-pagination">
                            <li><a href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                            <li><a href="#" class="active-pagination">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                        </ul>
                        <!-- End pagination -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End classes content -->
    <!-- End our classes section -->
{% endblock  %}