
{% extends 'base.html.twig' %}
{% block content %}



    <!-- Begin page name -->
    <section class="page-name color-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-name-content">
                        <h1>Contact</h1>
                        <ul class="bread-crumbs">
                            <li><a href="index.html">Home</a></li>
                            <li><p>Contact</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{ form_start(form) }}

    <input type="submit" value="send">

    <div>
        {{ form_row(form.nom) }}
    </div>

    <div>
        {{ form_row(form.titre) }}
    </div>
    <div>
        {{ form_row(form.description) }}
    </div>

    <div>
        {{ form_row(form.email) }}
    </div>

    <div>
        {{ form_row(form.tel) }}
    </div

    {{ form_end(form) }}
{% endblock %}

